  p{
    word-spacing: 4px;
    text-align: justify;
    text-indent: 40px;
  }
  
  em{
    font-style: italic;
    letter-spacing: 2px;
  } 
   
  h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    display: block;
    letter-spacing: 2px;
  }

  h2{
    display: inline;
    padding-right: 30px;  
    font-size: 28px;
    font-weight: bold;
    text-align: left;
  }

  .contenido{
    font-family: sans-serif, Arial;
    width: 70%;
    margin-right: 5%;    
    float: right;
  }
  
  .menu {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.767);
    position: fixed;
    width: 20%;
    height: 100%;
    float: left;
  }
  .menu ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 10px;
  }
  .menu ul li {
    display: block;
    margin: 20px 20px 20px 20px;
    padding: 10px;
    
  }
  .menu ul li:hover  a {
    font-weight: bolder;
  }
  .menu ul li a {
    font-family: Helvetica, sans-serif, Arial;
    font-size: 14px;
    text-decoration: none;
    color: white;
  }

  .titulo{
    color:white;
    text-align: center;
  }


  .glosario li{
    padding-top: 15px;
  }

  .centrar{
    text-align: center;
  }

  .derecha{
    text-align: right
  }

  .cabecera{
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20%;
    width: 80%;
    height: 250px;
  }

  #foto-autor{
    float: right;
    margin-right: 15px;
    border-radius: 100%;
    box-shadow: 0 0 3px black;
  }

  #seleccion{
    font-weight: bold;
    border-bottom: 1px solid white;
  }

  #frases li{
    font-weight: lighter;
    letter-spacing: 2px;
  }

  #sistema{
    background-image: url("/imagenes/castillo.jpg");
  }

  #biografia{
    background-image: url("/imagenes/libro.jpg");
  }
  
  #nunca{
    background-image: url("/imagenes/devil.jpg");    
  }

  #mixti{
    background-image: url("/imagenes/craneo.jpg");
  }

  #frances{
    background-image: url("/imagenes/woman.jpg");
  }

  #aliento{
    background-image: url("/imagenes/horca.jpg");
  }